chainer==4.4.0
chainercv==0.10.0
cycler==0.10.0
filelock==3.0.8
kiwisolver==1.0.1
matplotlib==3.0.1
numpy==1.15.1
opencv-python==3.4.3.18
Pillow==5.2.0
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.5
six==1.11.0
